body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #f0f8ff;
}

.login,
.instructions,
.quiz,
.result {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: #3897f0;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #2b7cd8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

li.selected {
  background-color: #cce5ff;
  border-color: #3897f0;
}

.myself {
  background-color: #ccc;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;

  position: absolute;
  bottom: 30px;

  left: 87%;
  transform: translateX(-50%);
}

.myself :hover {
  transform: scale(1.3);
}